@use "@/styles/mixins.scss" as *;

// Hero 

.hero {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 60vh;
}

.heroContent {
  display: flex;
  flex-direction: column;

  
}

.heroTitle {
  color: #fafafa;
  font-size: 50px;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 32px;
  display: none;

  @include respond-to("l") {
    font-size: 72px;
    display: block;
  }
}

.heroHighlight {
  color: $pink;
}

.heroSubtitle {
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: #d1d5db;
  max-width: 690px;
  margin-bottom: 2.5rem;
  line-height: 1.75;
}

.heroCtas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
