@use "@/styles/mixins.scss" as *;

.hallWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;

  @include respond-to("l") {
    margin-top: 100px;
    text-align: left;
    padding-bottom: 30px;
  }
}

.hallVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hallOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hallTitle {
  color: #fafafa;
  font-size: 36px;
  line-height: 100%;
  font-weight: 300;
  margin-bottom: 32px;

  @include respond-to("l") {
    font-size: 72px;
    display: none;
  }
}

.hallTitleDesktop {
  color: #fafafa;
  font-size: 50px;
  line-height: 100%;
  font-weight: 300;
  margin-bottom: 32px;
  display: none;

  @include respond-to("l") {
    font-size: 72px;
    display: block;
  }
  strong {
    font-weight: 700;
  }
}

.hallDescriptionMobile {
  color: $ice;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;

  @include respond-to("l") {
    display: none;
    font-size: 28px;
  }
}

.listServicesDektop {
  display: none;
  flex-direction: column;
  align-items: flex-start;

  @include respond-to("l") {
    display: flex;
  }
}

.listServicesDektop li {
  width: 100%;
  max-width: 418px;
  height: 56px;

  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #ffffff33;
  }

  .labelCheck {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
  }
}

.ctaButtons {
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include respond-to("l") {
    display: flex;
  }
}

.boxInfo {
  display: flex;

  align-items: center;
  align-self: center;
  gap: 8px;

  @include respond-to("l") {
    align-self: flex-end;
  }
}

.hallContentDescriptionDesktop {
  width: 100%;
  max-width: 555px;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  text-align: left;
  align-self: flex-end;

  p {
    color: $ice;
    font-size: 20px;
    line-height: 28px;
  }

  @include respond-to("l") {
    display: flex;
  }
}

.contentButtonOvalMobile {
  width: 100%;

  display: flex;
  justify-content: center;
  position: relative;
  @include respond-to("l") {
    display: none;
  }
}

.buttonDown {
  width: 80px;
  height: 120px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  background: $yellow;
  align-self: center;
  align-self: flex-end;
  box-shadow:
    0 -5px 99px $yellow,
    0 -8px 109px $yellow;

  @include respond-to("l") {
    margin-left: 86px;
  }
}
