@use "@/styles/mixins.scss" as *;

.contentWrapper {
  width: 100%;
  padding: 48px 16px;
  background: $bg;
  position: relative;
  border-radius: 24px;
  overflow: hidden;

  @include respond-to("m") {
    padding: 100px;
  }
}

.color {
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  filter: blur(340px);
}

.child {
  z-index: 20;
}

.topLeft {
  top: 250px;
  left: -250px;
  background: conic-gradient(
    from 112.35deg at 50% 50%,
    $pink 0deg,
    #f84b9c 360deg
  );
  z-index: 0;
}

.topRight {
  top: -200px;
  right: -250px;
  background: conic-gradient(
    from 112.35deg at 50% 50%,
    $pink 0deg,
    $pink 360deg
  );
}

.bottomLeft {
  bottom: -250px;
  left: -250px;
  background: conic-gradient(
    from 112.35deg at 50% 50%,
    $pink 0deg,
    #f84b9c 360deg
  );
}

.bottomRight {
  width: 800px;
  bottom: -330px;
  border-radius: 0;
  right: 0;
  background: conic-gradient(
    from 112.35deg at 50% 50%,
    $pink 0deg,
    #f84b9c 360deg
  );
}
