@import "../../../styles/mixins.scss";

.aboutHero {
  background: url("/images/senna.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.aboutDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 260px 16px 100px 16px;
  gap: 16px;
  border-radius: 24px;
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));

  h1 {
    font-size: 64px;
  }

  p {
    font-size: 20px;
    color: #c4c4c4;
  }

  span {
    font-size: 14px;
    color: #c4c4c4;
  }
}

.titleDescription {
  max-width: 920px;
}

.cardDescription {
  background-color: #000000;
  width: 380px;
  height: 160px;
  padding: 26px;
  border: 1px solid #363a3d;
  align-items: flex-start;
  text-align: right;
  border-radius: 16px;
  margin-top: 360px;
  box-shadow: 0 -5px 99px rgb(0, 0, 0);
}
