@use "@/styles/mixins.scss" as *;

.clientsWrapper {
  display: none;
  width: 100%;
  min-height: 260px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;

  mask-image: linear-gradient(
    to right,
    transparent,
    black 30%,
    black 90%,
    transparent
  );

  @include respond-to("l") {
    display: flex;
    flex-direction: column;
  }
}

.track {
  display: flex;
  height: 100%;
  margin-bottom: 54px;
  align-items: center;
  width: max-content;
  will-change: transform;
  backface-visibility: hidden;
}

.item {
  flex: 0 0 auto;
  width: 170px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & > img {
    height: auto !important;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clientLogo {
  object-fit: contain;
  filter: grayscale(100%);
  transition: all 0.1s ease;
  border-radius: 16px;

  @include respond-to("l") {
    width: 140px;
    height: 140px;
  }
}

.clientesCta {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

