@import "../../styles/mixins.scss";

.clientsWrapper {
  display: none;
  width: 100%;
  height: 260px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;

  @include media("l") {
    display: flex;
  }
}

.track {
  display: flex;
  height: 100%;
  align-items: center;
  width: fit-content;
  animation: scroll 120s linear infinite;
  will-change: transform;
}

.item {
  flex: 0 0 auto;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientLogo {
  object-fit: contain;  
  filter: grayscale(100%);
  transition: all 0.1s ease;
  border-radius: 16px;

  @include media("l") {
    width: 140px;
    height: 140px;
  }
}

.clientLogo:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-50%  ), 0, 0);
  }
}
