@import "../../styles/mixins.scss";

.footerWrapper {
  width: 100%;
  height: auto;
  background-color: #1b1e28;
  padding: 24px;

  @include media("l") {
    height: auto;
    padding: 0;
  }
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 12px 0;

  @include media("l") {
    max-width: 1192px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .listInstitucional {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;

    @include media("l") {
    }

    li {
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      text-align: left;
      color: #c4c4c4;

      @include media("l") {
        color: #ffffff;
      }
    }
  }
}

.contentLogo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;

  @include media("l") {
      width: auto;
  }

  // & > .policy {
  //   @include media("l") {
  //     display: none;
  //   }
  // }
}

.localization {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fafafa;
  max-width: 160px;
  
  align-items: flex-start;

  @include media("l") {
    color: rgba(255, 255, 255, 0.6);
    height: 170px;
  }

  strong {
    font-size: 20px;
    font-weight: 600;
  }
}

.listSocialMobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  // @include media("l") {
    
  // }

  li {
    display: flex;
    align-items: center;
    gap: 16px;

    & > div {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(225deg, #ee0874 0%,   #ff3a96 100%);
      border-radius: 4px;
    }

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: center;

      color: #fafafa;
    }
  }
}

.contentSEO {
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
  justify-content: space-around;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    width: 50%;
    height: 2px;
     background: linear-gradient(
    117.58deg,
    rgba(215, 237, 237, 0.16) 20%,
    rgba(204, 235, 235, 0) 80%
  );
    z-index: 0;
  }

  &::after {        
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    right: 50%;
    height: 2px;
    background: linear-gradient(
    117.58deg,
    rgba(215, 237, 237, 0) 20%,
    rgba(204, 235, 235, 0.16) 80%
  );
    z-index: 0;
  }
}

.listSEO {
  display: none;
  font-size: 12px;
  gap: 16px;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  color: rgba(255, 255, 255, 0.6);

  @include media("l") {
    display: flex;
  }
}