@import "../../styles/mixins.scss";

.contentTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 64px;

  @include media("l") {
    margin-bottom: 100px;
  }

  span {
    color: #c4c4c4;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;

    @include media("l") {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  h2 {
    width: 100%;
    max-width: 925px;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #fafafab2;

    @include media("l") {
      font-size: 64px;
    }

    strong {
      color: #ffffff;
      font-weight: 600;
    }
  }
}

.listCases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 100px;

  li {
    width: 100%;
    max-width: 530px;
    min-width: 300px;
    height: 400px;
    background-image: url("/images/cases.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
  }
}

.process {
  width: 100%;
  display: none;
  justify-content: space-between;
  position: relative;
  gap: 40px;
  padding: 40px 0;

  @include media("l") {
    display: flex;
  }
  // linha conectora
  &::before {
  
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    right: 0;
    width: 50%;
    height: 2px;
     background: linear-gradient(
    117.58deg,
    rgba(215, 237, 237, 0.16) 20%,
    rgba(204, 235, 235, 0) 80%
  );
    z-index: 0;
  }

  &::after {        
    content: "";
    position: absolute;
    width: 50%;
    top: 18px;
    left: 0;
    right: 50%;
    height: 2px;
    background: linear-gradient(
    117.58deg,
    rgba(215, 237, 237, 0) 20%,
    rgba(204, 235, 235, 0.16) 80%
  );
    z-index: 0;
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  flex: 1;
  cursor: pointer;
}

.iconWrapper {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #111;
  border: 2px solid #333;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;

  transition: all 0.3s ease;
}

.step:hover .iconWrapper {
  border-color: #ffd200;
  transform: scale(1.05);
}

.content {
  margin-top: 12px;

  h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  p {
    font-size: 12px;
    color: #aaa;
    max-width: 180px;
  }
}

.contentCopy {
  width: 100%;
  display: flex;
  padding: 48px 24px;
  border-radius: 20px;
  background: linear-gradient(210deg, #FED207 20%, #EE0874);
  gap: 64px;
  flex-direction: column;

  @include media("l") {
    padding: 64px;

    flex-direction: row;
  }

  h3 {
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
    color: #030303;
    position: relative;

    @include media("l") {
      font-size: 40px;
      padding-left: 32px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 0;
      right: 0;
      height: 2px;
      background: #000000;

      @include media("l") {
        top: 0;
        left: 0;
        width: 2px;
        height: 174px;
        bottom: none;
      }
    }

    strong {
      font-weight: 700;
    }
  }

  .copyDescription {
    width: 100%;
    max-width: 511px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 33.6px;
      color: #0d101b;

      strong {
        font-weight: 700;
      }
    }

    .btnCopy {
      width: 100%;
      height: 48px;
      max-width: 219px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.01em;
      background: #111022;
      border: none;
      border-radius: 12px;
      cursor: pointer;
    }
  }
}

.bottomRight {
  width: 800px;
  bottom: -330px;
  border-radius: 0;
  right: 0;
  background: conic-gradient(
    from 112.35deg at 50% 50%,
    #ee0874 0deg,
    #f84b9c 360deg
  );
}
